@import "../../global.scss";

.Sidebar {
  background: $bg-Lighter !important;
  color: $text-Color;

  .ant-menu-item-selected {
    background-color: $soft-Color !important;
  }
  .ant-menu-item {
    margin: 20px;
    svg {
      margin-left: 10px;
      font-size: 20px;
    }
  }

  .ant-layout-sider-children {
    padding-bottom: 20px;
    overflow-y: hidden;
    &:hover {
      overflow-y: scroll;
    }
  }
  .logoWrapper {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    padding: 10px 30px;
    margin: 5px 0px;
    color: $text-Color;
    font-size: 15px;

    .YoutubeLogo {
      width: auto;
      height: 20px;
    }
  }

  .sidebarLine {
    margin: 15px 0px;
    border: 0.5px solid $soft-Color;
  }
  .item {
    text-decoration: none;
    color: $text-Color;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 30px;
    margin: 5px 0px;
    cursor: pointer;

    &:hover {
      background-color: $soft-Color;
    }
    svg {
      font-size: 20px;
    }
  }
  .textGroup {
    margin: 0px 8px;
    padding: 18px 26px;
    display: flex;
    flex-direction: column;

    .signInText {
      margin-bottom: 15px;
    }
    .signInBtn {
      @include sign_in_Button;

      &:hover {
        background-color: $bg-Dark;
        border: 1px solid $text-Soft;
        color: $text-Color;
      }
    }
  }

  .paraText {
    padding: 8px 26px;
    color: $text-Soft;
    font-weight: 600;
  }

  .Collapseditem {
    text-decoration: none;
    color: $text-Color;
    cursor: pointer;
    padding: 10px 30px;
    margin: 5px 0px;
    font-size: 20px;
    svg {
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.4);
      }
    }
  }
  *::-webkit-scrollbar-thumb {
    background-color: #555;
  }
}
