@import "../../_global.scss";



//------------------ Comments Component----------------

.commentsWrapper {
  .commentWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .commentsChannelImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .commentsChannelName{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    .sb-avatar__tex{
      width: 100%;
      height: 100%;
    }
    span{
      font-size: 16px;
    }
  
  }
  .commentsInput {
    border: none;
    border-bottom: 1px solid $text-Soft;
    color: $text-Soft;
    background-color: transparent;
    outline: none;
    padding: 5px;
    width: 100%;
    .ant-input{
      background-color: transparent !important;
      color: $text-Color;
    }
    svg{
      color: $text-Color;
    }
  }
  .commentBtn{
    background-color: #065fd4 !important;
    border: none !important;
    transition: all 0.4s ease-in-out !important;
    border-radius: 5px;

    &:hover{
      background-color: #023e8b !important;
    }
  }
  .deleteComment{
    color: white;
  }
}

//------------------ Comment Component ----------------

.commentContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .commentWrapper {
    display: flex;
    gap: 10px;
    margin: 15px 0px;
  
    .commentChannelImage{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  
    .commentsDetails {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: $text-Color;
  
      .commentUserName {
        font-size: 13px;
        font-weight: 500;
      }
      .commentTiming {
        font-size: 12px;
        font-weight: 400;
        color: $text-Soft;
        margin-left: 5px;
      }
      .commentsPara {
        font-size: 14px;
      }
    }
  }
  .deleteComment{
    svg{
      color: red;
      cursor: pointer;
    }
  }
}
